.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #9df9ef;
}

.shopping-item{
    position: relative;
    z-index: 3;
    height: 70px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    background-color: #edf7f6;
    width: 25rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.del-button{
    border-radius: 0 10px 10px 0;
}

.del-button:active{
   background-color: black;
}

.update-item{
    position: absolute;
    width: 100%;
    display:flex
    
}

.update-item button{
    background-color: brown;
}

.update-item  input[type=text]{
    font-style: none;
    background-color: chartreuse;
}

/* input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } */
